body {
    background-color: papayawhip;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
}
p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
    display: flex;
    justify-content: space-around;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: papayawhip;
    z-index: 1;
}

li {
    display: inline;
    margin: 0 10px 0;
    color: #025157;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    width: 60%;
    text-align: left;
    color: #025157;
    font-weight: 500;

}

ul {
    margin: 0;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.actions a {
    text-decoration: none;
    color: #67b54b;
    margin-right: 10px;
}
.actions button {
    background-color: #67b54b;
    color: white;
    font-family: sans-serif;
    padding: 12px 14px 12px;
    border-radius: 5px;
    border: none;
}

.main {
    margin-top: 285px;
    text-align: center;
}

.container {
    width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.contenedor-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-vid img {
    margin-top: 10px;
}

.cont {
    margin-left: 50px;
}
.cont h1 {
    font-size: 40px;
}

.cont p {
    font-size: small;
}

.succes-case {
    font-family: sans-serif;
    background-color: #a1d683;
    padding: 70px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.description {
    width: 100%;
    margin-top: 50px;
}
.description h2 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 52px;
}
.description p {
    font-size: medium;
    color: black;
}
.description button {
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
.description figure {
    margin-left: 0%;
    margin-top: 50px;
}
.description img {
    width: 100%;
}
.cases {
    border-radius: 7px;
    background-color: white;
    width: 50%;
    position: relative;
    justify-self: center;
}
.card-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.company {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 300px;
    right: 20px;
    background-color: #F9DA73;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company img {
    width: 50%;
}
.card-body {
    padding: 20px;
}
.card-body h4 {
    color: #025157;
}
.results {
    display: flex;
    align-items: center;
}
.results p {
    margin-left: 10px;
    font-size: small;
}
.results img {
    width: 20px;
    height: 20px;
}
.card-foter {
    display: flex;
    justify-content: center ;
    margin: 15px 10px;
}
.card-foter button {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
}