/** pricing.css */
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
}

.header p {
    color: #46484c;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 72px;
}

main {
    margin-top: 130px;
    text-align: center;
}

body {
    background-color: papayaWhip;
    font-family: "Open Sans", sans-serif;
}


.navbar {
    width: 100%;
    text-align: left;
    color: #025157;
    font-weight: 500;

}

ul {
    margin: 0;
}

.actions {
    width: 20%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions a {
    text-decoration: none;
    color: #67b54b;
    margin-right: 10px;
}
.actions button {
    background-color: #67b54b;
    color: white;
    font-family: sans-serif;
    padding: 12px 14px 12px;
    border-radius: 5px;
    border: none;
}

.main {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main div {
    width: 600px;
    text-align: center;
}
.faq {
    margin-top: 50px;
    padding-bottom: 120px;
  }
  
  .faq h2 {
    color: #025157;
    font-family: "Alegreya", serif;
  }
  
  .faq .card-header {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .faq h2 > button {
    color: #025157;
    font-size: 28px;
    font-weight: 900;
  }
  
  .faq .card .card-body a {
    color: #6abf4b;
  }

  @media (max-width: 575px) {
    .actions {
     width: 50%;
    }
}